{% extends 'base.html.twig' %}

{% block title %}Lexicon index{% endblock %}

{% block body %}
    <h1>Lexicon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Term</th>
                <th>Slug</th>
                <th>Definition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lexicon in lexicons %}
            <tr>
                <td>{{ lexicon.id }}</td>
                <td>{{ lexicon.term }}</td>
                <td>{{ lexicon.slug }}</td>
                <td>{{ lexicon.definition }}</td>
                <td>
                    <a href="{{ path('app_lexicon_show', {'id': lexicon.id}) }}">show</a>
                    <a href="{{ path('app_lexicon_edit', {'id': lexicon.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lexicon_new') }}">Create new</a>
{% endblock %}
